body{
    background: rgb(238,174,182);
    background: linear-gradient(135deg, rgba(238,174,182,1) 0%, rgba(148,187,233,1) 100%);
}

h1{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;   
}